<form action="/insertarCliente">
    <div class="mb-3">
        <div class="col-12 mb-3 d-flex">
            <div class="col-3 m-1">
                <label for="txtIdentificador" class="form-label">Identificador</label>
                <input type="text" name="txtIdentificador" class="form-control" id="txtIdentificador">
            </div><!--Fin div-->                             
            <div class="col-3 m-1">
                <label for="txtNombreDeCompania" class="form-label">Nombre de compañia</label>
                <input type="text" name="txtNombreDeCompania" class="form-control" id="txtNombreDeCompania">
            </div><!--Fin div-->
            <div class="col-3 m-1">
                <label for="txtNombreDeContacto" class="form-label">Nombre de contacto</label>
                <div class="d-flex">
                    <input type="text" name="txtNombreDeContacto" class="form-control" id="txtNombreDeContacto">&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>                                
            </div>            
        </div>
    </div>
</form>